@font-face {
    font-family: breymont;
    src: url("Breymont-Bold.ttf");
}

@font-face {
    font-family: Martian Mono;
    src: url("MartianMono.ttf");
}

@font-face {
    font-family: IBM Plex Mono;
    src: url("IBMPlexMono.ttf");
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media only screen and (orientation: landscape) {
    #content {
        overflow: none;
    }    

    #cryptogramContainer
    {
        height: 400px;
    }

  }
  
  @media only screen and (orientation: portrait) {
    #content {
        height: 100vw;
        overflow: hidden;
    } 
  }


::selection {
    background: #ff0000;
  }


body
{
    background-color: black;
}

a
{
    color: #ff0000;
}

a:hover
{
    color: #ffffff;
}

#logoContainer
{
    width: 22em;
    margin-left: auto;
    margin-right: auto;
}
#logo
{
    text-decoration: none !important;
    font-family: "Breymont", sans-serif;
    font-size: 45px;
    color: white;
    text-align: center;
    margin-top: 15px;
    user-select: none;
}

#cryptogramContainer
{
    position: relative;
    overflow: hidden;
    display: block;
    margin: 10px auto;
    border-radius: 15px;
    max-width: 350px;
    height: 400px;
    background-color: #201c1c;
    box-shadow: inset 0 00 3px black;
    transition: box-shadow 1s;
}

#keyboardContainer
{
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    max-width: 350px;
    /* background-color: #201c1c;
    box-shadow: inset 0 0 3px black; */
    height: 170px;
    /* overflow: hidden; */
}

#welcomeText
{
    font-size: 27.5px;
}

#tips
{
    position: absolute;
    font-family: "Martian Mono", Helvetica;
    line-height: 1.5;
    bottom: 0px;
}

#number
{
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'IBM Plex Mono', sans-serif;
    color: slategrey;
}

#num
{
    float: right;
}


#left
{
    float: left;
}

#right
{
    float: right;
}

#inputText
{   
    position: absolute;
    z-index: 2;
    background-color: none;
    margin-top: -10px;
    margin-right: 15px;
    font-size: 23px;
}


#keyboard 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confirm
{
    float: right;
    margin-left: 5px;
    font-size: 13px;
    height: 50px;
    width: 75px;
}

#del
{
    float: left;
    margin-right: 5px;
    font-size: 14px;
    height: 50px;
    vertical-align: center;
    width: 60px;
}

#hearts
{
    position: absolute;
    left: 170px;
    top: 11px;
    width: 136px;
    height: 14px;
}

#status
{
    position: absolute;
    z-index: 2;
    opacity: 0;
    top: 130px;
    width: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 30px;
    color: #201c1c;
    background-color: #201c1c;
    text-align: center;
    transition: all .5s;
}

#myChart
{
    position: absolute;
    bottom: 10px;
    margin-left: 15px;
    margin-right: 10px;
}

#cover
{
    position: absolute;
    bottom: 60px;
    right: 1px;
    height: 130px;
    width: 320px;
    transition: all 5s;
    background-color: #201c1c;
}

#stop
{
    position: absolute;
    z-index: 2;
    background-color: #201c1c;
    height: 25px;
    width: 63px;
    right: 1px;
    top: 185px;
}

#hider
{
    display: none;
    z-index: 2;
    position: absolute;
    top: 45px;
    left: 23px;
    background-color: #201c1c;
    width: 10px;
    height: 22px;
}

#tips
{
    display: none;
}

#toolDiv
{
    position: absolute;
    right: 20px;
    top: 35px;
}

#menu
{
    position: absolute;
    z-index: 4;
    right: 26px;
    top: 70px;
    background-color: red;
    width: 200px;
    height: 0;
    overflow: hidden;
    transition: all .8s;
}

.menuOpen
{
    height: 160px;
}

.cryptogram
{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    font-family: "Martian Mono", Helvetica;
    line-height: 1.5;
    bottom: 0px;
    font-size: 23px;
}

.tool
{
    width: 30px;
    margin-right: 5px;
}

.option
{
    color: white;
    float: right;
    margin: 7px;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size:  30px;
}

.option:hover
{
    color: black;
}

.solved
{
    color: #00ff00 !important;
}

.life
{
    width: 14px;
    margin-right: 10px;
    transition: 1s;
    transition-delay: 1s;
}

.animation
{
    animation: shake 0.5s;
    animation-iteration-count: 4;
}

.second-row
{
    margin: 5px;
}

.keyboard-button
{
    font-size: 20px;
    font-weight: 1000;
    font-family: "Martian Mono", Helvetica;
    text-align: center;
    height: 50px;
    width: 42px;
    padding: 1px;
    margin: 1px;
    background-color: dimgray;
    border-width: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.ynbutton
{
    width: 100px;
    text-align: center;
    opacity: 0;
    margin-top: 150px;
    border-radius: 15px;
    height: 50px;
    font-size: 25px;
    font-family:  'IBM Plex Mono', sans-serif;
    background-color: slategrey;
    color: white;
    border-width: 0;
    transition: all 1s ;
}

#left.fixed
{
    width: min(350px, calc(100vw - 20px)) !important;
    background-color: green !important;
}

#right.fixed
{
    width: min(350px, calc(100vw - 20px)) !important;
    background-color: red !important;
}

.stat
{
    font-size: 20px;
}

.postfixed
{
    width: min(350px, calc(100vw - 20px)) !important;
    background-color: blue !important;
}

.text
{
    font-family: 'IBM Plex Mono', sans-serif;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.postbutton
{
    width: 100px;
    padding: 1px;
    opacity: 0;
    margin-top: 120px;
    border-radius: 15px;
    height: 80px;
    font-size: 25px;
    font-family:  'IBM Plex Mono', sans-serif;
    background-color: slategrey;
    color: white;
    border-width: 0;
    transition: all 1s ;
}

@media only screen and (max-width: 700px) {
    #logo
    {
        text-align: left;
        font-size: 28px;
       
    }
    #logoContainer
    {
        margin-top: 21px;
        margin-left: 20px;
        width: 14em;
    }
    #toolDiv {
        top: 30px;
    }
}

@media only screen and (max-width: 520px) {
    .keyboard-button {
        width: 8.1vw;
    }
    #confirm {
        width: 14.2vw;
        font-size: 2.5vw;
    }
    #del {
        font-size: 2.7vw;
        width: 11.9vw;
    }
}

@media only screen and (max-width: 401px) {
    .keyboard-button {
        width: 7.9vw;
        height: 45px;
    } .postbutton {
        height: 60px;
        font-size: 20px;
    }
    #confirm {
        width: 15vw;
        font-size: 2.5vw;
        height: 45px;
    }
    #del {
        font-size: 2.9vw;
        width: 11.6vw;
        height: 45px;
    } 
    #logo {
        font-size: 20px;
    }
    #logoContainer {
        margin-top: -10px;
        margin-left: 10px;
        width: 10em;
    }
    #toolDiv {
        margin-top: -15px;
        right: 10px;
    }
    .tool {
        width: 22px;
    }
    #cryptogramContainer
    {
        height: 51vh;
    }
    #inputText
    {
        font-size: 20px;
    }
    #chartContainer
    {
        height: 180px;
        width: 100%;
    }
    #status
    {
        top: 85px;
    }
    .cryptogram
    {
        font-size: 19px;
    }
    #menu
    {
        top: 45px;
        right: 17px;
    }
    #stop
    {
        display: none;
    }
}

@media only screen and (max-width: 365px) {
    .keyboard-button {
        width: 7.5vw;
    }
    #confirm {
        width: 14vw;
        font-size: 2.2vw;
    }
    #del {
        font-size: 2.6vw;
        width: 11vw;
    }
}

@media only screen and (max-width: 345px) {
    #num {
        display: none;
    }
    #hearts {
        left: 160px;
    }
    /* #left {
        margin-left: 0px;
        width: 85px;
    }
    #right {
        margin-right: 0px;
        width: 85px;
    } */
}