@font-face {
    font-family: cascadia;
    src: url("https://fonts.cdnfonts.com/css/cascadia-code");
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media only screen and (max-width: 520px) {
    .keyboard-button {
        width: 8.1vw !important;
    }
    #confirm    {
        width: 14.2vw !important;
        font-size: 2.4vw !important;
    }
    #del {
        font-size: 2.5vw !important;
        width: 11.9vw !important;
    }
}

@media only screen and (max-width: 401px) {
    .keyboard-button {
        width: 7.9vw !important;
    }
    #confirm    {
        width: 14.2vw !important;
        font-size: 2.2vw !important;
    }
    #del {
        font-size: 2.5vw !important;
        width: 11.6vw !important;
    }
}
/* 
@media only screen and (max-width: 365px) {
    .keyboard-button {
        width: 7.9vw !important;
    }
    #confirm    {
        width: 14.2vw !important;
        font-size: 2.2vw !important;
    }
    #del {
        font-size: 2.5vw !important;
        width: 11.6vw !important;
    }
} */

@media only screen and (max-width: 310px) {
    .keyboard-button {
        width: 7.5vw !important;
    }
    #confirm    {
        width: 14vw !important;
        font-size: 2.2vw !important;
    }
    #del {
        font-size: 2.5vw !important;
        width: 11vw !important;
    }
}


body
{
    background-color: black;
}

#logo
{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cryptogramContainer
{
    position: relative;
    overflow: hidden;
    display: block;
    margin: 30px auto;
    border-radius: 15px;
    max-width: 350px;
    height: 400px;
    background-color: #201c1c;
    box-shadow: inset 0 00 3px black;
    transition: all 1s;
}

#keyboardContainer
{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-width: 500px;
    border-style: solid;
    /* background-color: #201c1c;
    box-shadow: inset 0 0 3px black; */
    height: 200px;
    overflow: hidden;
}

#welcomeText
{
    font-size: 30px;
}

#tips
{
    position: absolute;
    font-family: "Martian Mono", Helvetica;
    line-height: 1.5;
    bottom: 0px;
    font-size: 23px;
}

#number
{
    font-size: 12px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    top: 100px;
    font-family: 'IBM Plex Mono', sans-serif;
    color: slategrey;
}

#num
{
    float: right;
}


#left
{
    float: left;
    margin-left: 100px;
}

#right
{
    float: right;
    margin-right: 100px;
}

#inputText
{   
    position: absolute;
    z-index: 2;
    background-color: none;
    margin-top: -10px;
    margin-right: 15px;
    font-size: 23px;
    transition: font-size 1s;
}


#keyboard 
{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confirm
{
    float: right;
    margin-left: 5px;
    font-size: 13px;
    height: 50px;
    width: 75px;
}

#del
{
    float: left;
    margin-right: 5px;
    font-size: 13px;
    height: 50px;
    vertical-align: center;
    width: 60px;
}

#hearts
{
    position: absolute;
    left: 160px;
    top: 17px;
    width: 136px;
    height: 14px;
}

#status
{
    position: absolute;
    opacity: 0;
    top: 130px;
    width: 100%;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 30px;
    color: #201c1c;
    text-align: center;
    transition: all 1s;
}

#myChart
{
    position: absolute;
    bottom: 10px;
    margin-left: 15px;
    margin-right: 10px;
}

#cover
{
    position: absolute;
    bottom: 60px;
    right: 1px;
    height: 130px;
    width: 320px;
    transition: all 5s;
    background-color: #201c1c;
}

#stop
{
    position: absolute;
    z-index: 2;
    background-color: #201c1c;
    height: 25px;
    width: 88px;
    right: 1px;
    top: 170px;
}

#hider
{
    display: none;
    z-index: 2;
    position: absolute;
    top: 45px;
    left: 23px;
    background-color: #201c1c;
    width: 10px;
    height: 22px;
}

#tips
{
    display: none;
}

.cryptogram
{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    font-family: "Martian Mono", Helvetica;
    line-height: 1.5;
    bottom: 0px;
    font-size: 23px;
}

.solved
{
    color: #00ff00 !important;
}

.life
{
    width: 14px;
    margin-right: 10px;
    transition: 1s;
    transition-delay: 1s;
}

.animation
{
    animation: shake 0.5s;
    animation-iteration-count: 4;
}

.second-row
{
    margin: 5px;
}

.keyboard-button
{
    font-size: 15px;
    font-weight: 1000;
    font-family: "Martian Mono", Helvetica;
    text-align: center;
    height: 50px;
    width: 42px;
    text-align: center;
    margin: 1px;
    background-color: dimgray;
    border-width: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.ynbutton
{
    width: 100px;
    opacity: 0;
    margin-top: 150px;
    border-radius: 15px;
    height: 50px;
    font-size: 25px;
    font-family:  'IBM Plex Mono', sans-serif;
    background-color: slategrey;
    color: white;
    border-width: 0;
    transition: all 1s ;
}

#left.fixed
{
    width: 300px !important;
    background-color: green !important;
}

#right.fixed
{
    width: 300px !important;
    background-color: red !important;
}

.stat
{
    font-size: 20px !important;
}

.postfixed
{
    width: 300px !important;
    background-color: blue !important;
}

.text
{
    font-family: 'IBM Plex Mono', sans-serif;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.postbutton
{
    width: 100px;
    opacity: 0;
    margin-top: 120px;
    border-radius: 15px;
    height: 80px;
    font-size: 25px;
    font-family:  'IBM Plex Mono', sans-serif;
    background-color: slategrey;
    color: white;
    border-width: 0;
    transition: all 1s ;
}