{% extends "layout.html" %}

{% block cryptogram %}

<div id="inputText" class="text"></div>
<p id="cryptogram" class="cryptogram solved">{{ solvedCryptogram }}</p>

{% endblock %}


{% block keyboard %}
<button type="button" class="postbutton" id="left">Share</button>
<button type="button" class="postbutton" id="right">View<br>Stats</button>
<script>
    const dateDashed = {{ dateDashed | tojson }};
    const attempts = {{ attempts | tojson }};
    const state = {{ state | tojson }};
</script>
<script src="../static/complete.js"></script>
{% endblock %}