{% extends "layout.html" %}

{% block cryptogram %}
<p id="demo" class="cryptogram">KHNVTZEOSPG OG DXRSGE XOBH! ZXHDGH NFHNC WDNC OP D MHQ KDTG--OE QOXX NHVEDOPXT WH XOBH WHMSVH GHZEHRWHV EQHPEOHEF.</p>
<script>
    function highlight(el, letter, mode=0, altLetter, color="#ffff00")
    {
        var highlighted = `<span style="color: #ffff00;">${letter}</span>`;
        var altHighlighted = `<span style="color: ${color};">${altLetter}</span>`;
        if (mode==0) {
            console.log(el.innerHTML)
            el.innerHTML = el.innerHTML.replaceAll(letter, highlighted);
            console.log(el.innerHTML)
            var doubleReplaced = `<span style="color: #00ff00;"><span style="color: #ffff00;">${letter}</span></span>`;
            highlighted = `<span style="color: #00ff00;">${letter}</span>`;
            el.innerHTML = el.innerHTML.replaceAll(doubleReplaced, highlighted);
        } else if (mode==1) {
            el.innerHTML = el.innerHTML.replaceAll(highlighted, altHighlighted);
        }
    }

    function exampler(el, str, solved)
    {
        var changed = [];
        var count = 0;
        for (let i = 0; i < str.length; i++) {
            if (!changed.includes(str[i]) && /^[a-z]$/i.test(str[i])) {
                setTimeout(function(){
                    highlight(el, str[i]);
                    setTimeout(function(){
                        highlight(el, str[i], 1, solved[i], "#00ff00");
                    }, 200);
                }, (count + 1) * 150);
                changed.push(str[i]);
                count++;
            }
        }
    }
    document.addEventListener("DOMContentLoaded", function(){
        let demo = document.getElementById("demo");
        let solution = `
        DECRYPTIONS IS ALMOST LIVE! PLEASE CHECK BACK IN A FEW DAYS--IT WILL CERTAINLY BE LIVE BEFORE SEPTEMBER TWENTIETH.
        `;
        let msg = `
        KHNVTZEOSPG OG DXRSGE XOBH! ZXHDGH NFHNC WDNC OP D MHQ KDTG--OE QOXX NHVEDOPXT WH XOBH WHMSVH GHZEHRWHV EQHPEOHEF.
        `;
        exampler(demo, msg, solution);
    });
</script>

{% endblock %}

