{% extends "layout.html" %}

{% block cryptogram %}
<div id="hearts">
    {% for i in range(lives) %}
        <img src="../static//heart.svg" alt="❤️" class="life">
    {% endfor %}
</div>

<div id="inputText" class="text"></div>
<div id="status"></div>
<p id="cryptogram" class="cryptogram">{{ cryptogramText }}</p>

<script>
    const replaced = {{ replaced | tojson }};
    const failed = {{ failed | tojson }};
</script>
<script src="../static/index.js"></script>
{% endblock %}

{% block keyboard %}
<div id="keyboard">
    <div class="first-row">
        <button class="keyboard-button" id="Q">Q</button>
        <button class="keyboard-button" id="W">W</button>
        <button class="keyboard-button" id="E">E</button>
        <button class="keyboard-button" id="R">R</button>
        <button class="keyboard-button" id="T">T</button>
        <button class="keyboard-button" id="Y">Y</button>
        <button class="keyboard-button" id="U">U</button>
        <button class="keyboard-button" id="I">I</button>
        <button class="keyboard-button" id="O">O</button>
        <button class="keyboard-button" id="P">P</button>
    </div>
    <div class="second-row">
        <button class="keyboard-button" id="A">A</button>
        <button class="keyboard-button" id="S">S</button>
        <button class="keyboard-button" id="D">D</button>
        <button class="keyboard-button" id="F">F</button>
        <button class="keyboard-button" id="G">G</button>
        <button class="keyboard-button" id="H">H</button>
        <button class="keyboard-button" id="J">J</button>
        <button class="keyboard-button" id="K">K</button>
        <button class="keyboard-button" id="L">L</button>
    </div>
    <div class="third-row">
        <button class="keyboard-button" id="del">Back</button>
        <button class="keyboard-button" id="Z">Z</button>
        <button class="keyboard-button" id="X">X</button>
        <button class="keyboard-button" id="C">C</button>
        <button class="keyboard-button" id="V">V</button>
        <button class="keyboard-button" id="B">B</button>
        <button class="keyboard-button" id="N">N</button>
        <button class="keyboard-button" id="M">M</button>
        <button class="keyboard-button" id="confirm">Confirm</button>
    </div>
</div>
{% endblock %}