{% extends "layout.html" %}


{% block cryptogram %}

<div id="inputText" class="text"></div>
<p id="cryptogram" class="cryptogram">FQL RWL HM VCGKFHYCZDW MHC LJFLCFZXJDLJF SZFLW UZVP FH FQL DXSSTL ZYLW, IQLCL DHJPW KTZGLS FQLD FH KZWW FXDL.</p>
<p id="tips" class="cryptogram">NDG EQWZ "VWXTNQIWSJ" HC S VWXTNQIWSJ LQW LQWNX-GHIDN QNDGW GUIOHCD EQWZC.</p>
<div id="hider"></div>
{% endblock %}


{% block keyboard %}
<button type="button" class="postbutton" id="left">Play!</button>
<button type="button" class="postbutton" id="right">Next</button>
<script src="../static/instructions.js"></script>
{% endblock %}