<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>DailyCryptogram</title>
        <link href="../static/styles.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.cdnfonts.com/css/ibm-plex-mono" rel="stylesheet">
        <canvas style="display:none" id="canvas"></canvas>
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>    
    </head>
    <body>
        <img src="../static/logo.png" type="img/png" id="logo">
        <div id="divider"></div>
        <div id="cryptogramContainer">
            {% block cryptogram %}{% endblock %}
        </div>
        <div id="keyboardContainer">
            {% block keyboard %}{% endblock %}
        </div>
        <script>
        document.addEventListener("DOMContentLoaded", function(){
            var text = document.getElementById('text');
            var typewriter = new Typewriter(text, {
                cursor: '<span style="color: #ffffff;">|</span>',
                delay: 50
            });
            typewriter.start()
            typewriter.typeString('Welcome. Have you played Cryptogram before?')
        });
        </script>
    </body>
</html>