<!DOCTYPE html>

<html lang="en">
    <head>
         <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q2ZCFEGNCC"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Q2ZCFEGNCC');
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content="Decryptions: A Daily Cryptogram Game"/>
        <meta property="og:image" content="../static/preview.png"/>
        <title>Decryptions</title>
        <link rel="icon" type="image/x-icon" href="../static/decryptions.ico">
        <link href="../static/styles.css" rel="stylesheet" type="text/css">
        <canvas style="display:none" id="canvas"></canvas>
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    </head>
    <body>
        <div id="content">
            <div id="logoContainer">
                <a href="/" style="text-decoration: none;"><h1 id="logo">decryptions</h1></a>
            </div>
            <div id="toolDiv">
                <a href="/stats"><img src="../static/stats.svg" alt="stats" id="stats" class="tool"></a>
                <a href="/instructions"><img src="../static/question.svg" alt="instructions" id="question" class="tool"></a>
                <img src="../static/contact.svg" alt="contact" id="contact" class="tool">
            </div>
            <div id="menu">
                <a class="option" href="/give">.org?</a><br>
                <a class="option" href="mailto:nolanshaffer@uchicago.edu">Feedback</a><br>
                <a class="option" href="mailto:nolanshaffer@uchicago.edu">Report Bug</a>
            </div>
            <div id="cryptogramContainer">
                <div id="number">
                    <p>
                    <span id="date">{{ date }}</span>
                    <span id="num">#{{ number }}</span>
                    </p>
                </div>
                {% block cryptogram %}{% endblock %}
            </div>
            <div id="keyboardContainer">
                {% block keyboard %}{% endblock %}
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", function(){
                    let contact = document.getElementById("contact");
                    let text = document.getElementById("logo");
                    let menu = document.getElementById("menu");
                    const content = document.getElementById("content");
                    var gate = false
                    window.addEventListener("resize", function(){
                        content.style.setProperty("height", `${window.innerHeight - 15}px`);
                    })
                    content.style.setProperty("height", `${window.innerHeight - 15}px`);
                    contact.addEventListener("mouseover", function(){
                        menu.classList.add("menuOpen");
                        contact.classList.add("contactOpen");
                    });
                    menu.addEventListener("mouseover", function(){
                        menu.classList.add("menuOpen");
                        contact.classList.add("contactOpen");
                    });
                    contact.addEventListener("mouseout", function(){
                        menu.classList.remove("menuOpen");
                        contact.classList.remove("contactOpen");
                    });
                    menu.addEventListener("mouseout", function(){
                        menu.classList.remove("menuOpen");
                        contact.classList.remove("contactOpen");
                    });
                    contact.addEventListener("click", function(){
                        menu.classList.add("menuOpen");
                        contact.classList.add("contactOpen");
                        if (gate == true) {
                            menu.classList.remove("menuOpen");
                            contact.classList.remove("contactOpen");
                            gate = false;
                        }
                        else {
                            gate = true;
                        }
                    })
                    
                    setTimeout(function(){
                        text.innerHTML = "decRyptions";
                    }, 500);

                });
            </script>
        </div>
    </body>
</html>