{% extends "layout.html" %}

{% block cryptogram %}
<div id="number">
    <p>
    <span id="date">{{ date }}</span>
    <span id="num">#{{ number }}</span>
    </p>
</div>
<div id="text"></div>
{% endblock %}

{% block keyboard %}
<button type="button" class="ynbutton" id="yes">Yes</button>
<button type="button" class="ynbutton" id="no">No</button>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        var text = document.getElementById('text');
        let typewriter = new Typewriter(text, {
            cursor: '<span style="color: #ffffff;">|</span>',
            delay: 50,
            deleteSpeed: 20
        });
        let yes = document.getElementById("yes");
        let no = document.getElementById("no");
        typewriter.start();
        typewriter.typeString('Welcome. Have you played Cryptogram before?');

        setTimeout(function(){
            let buttons = [yes, no];
            let colors = ["green", "red"];
            for (let i = 0; i < 2; i++)
            {
                buttons[i].style.marginTop = "75px";
                buttons[i].style.opacity = 1;
                buttons[i].addEventListener("mouseover", function(){
                    if (i == 0){buttons[1 - i].style.marginRight = 0;}
                    else{buttons[1 - i].style.marginLeft = 0;}
                    buttons[1 - i].style.opacity = 0;
                    buttons[i].style.width = "300px";
                    buttons[i].style.backgroundColor = colors[i];
                });
                buttons[i].addEventListener("mouseout", function(){
                    if (i == 1){buttons[1 - i].style.marginLeft = "100px";}
                    else{buttons[1 - i].style.marginRight = "100px";}
                    buttons[1 - i].style.opacity = 1;
                    buttons[i].style.width = "100px";
                    buttons[i].style.backgroundColor = "slategrey";
                });
                buttons[i].addEventListener("click", function(){
                    typewriter.stop().pauseFor(1).start().deleteChars(43);
                })
            }
        }, 3500);
    });
</script>
{% endblock %}