{% extends "layout.html" %}


{% block cryptogram %}

<div id="inputText" class="text stat"></div>
<div>
    <canvas id="myChart"></canvas>
</div>
<div id="stop"></div>
<div id="cover"></div>
<img id="url" src="">
{% endblock %}

{% block keyboard %}
<button type="button" class="postbutton" id="left">Share<br>Stats</button>
<button type="button" class="postbutton" id="right">Home</button>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        const ctx = document.getElementById('myChart');
        let left = document.getElementById("left");
        let right = document.getElementById("right");
        const data = {{ data | tojson }};
        var msg = `Games: ${data.games}<br>Solved: ${((data.solved/data.games) * 100).toFixed(2)}%<br>Win Streak: ${data.streak}<br>Max Streak: ${data.maxStreak}<br>Avg Lives: ${data.avgLives.toFixed(2)}<br>Close Calls<i style="font-size: 12px;">(1❤️ Wins)</i>: ${data.closeCalls}`;
        var userText = document.getElementById('inputText');
        let userWriter = new Typewriter(userText, {
            cursor: '<span style="color: #ffffff;">|</span>',
            delay: 30,
            deleteSpeed: 5
        });
        let stop = document.getElementById("stop");
        if (data.closeCalls > 9) {
            stop.style.right = "28px";
        }
        if (data.closeCalls > 99) {
            stop.style.right = "16px";
        }
        userWriter.start();
        userWriter.typeString(msg);
        const img = document.createElement("img");
        setTimeout(function(){ 
        var myChart = new Chart(ctx.getContext('2d'), {
                type: 'line',
                data: {
                    labels: ['💀', '❤️', '❤️❤️', '❤️❤️❤️', '❤️❤️❤️❤️', '❤️❤️❤️❤️❤️'],
                        datasets: [{
                        data: [3,1, 4, 1, 1, 0],
                        borderWidth: 1
                    }]
                },
                options: {  
                    animation: {
                        duration: 0,
                    },
                    scales: {
                        x: {
                            grid: {
                                display: false
                            },
                            border: {
                                display: false
                            }
                        },
                        y: {
                            grid: {
                                display: false
                            },
                            border: {
                                display: false
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        }
                    }
                }
            });
            document.getElementById("cover").style.width = 0;
        }, 4000);
        setTimeout(function(){
            let buttons = [left, right];
            for (let i = 0; i < 2; i++)
            {
                buttons[i].style.marginTop = "60px";
                buttons[i].style.opacity = 1;
                buttons[i].addEventListener("mouseover", function(){
                    if (i == 0){buttons[1 - i].style.marginRight = 0;}
                    else{buttons[1 - i].style.marginLeft = 0;}
                    buttons[1 - i].style.opacity = 0;
                    buttons[i].style.width = "300px";
                    buttons[i].style.backgroundColor = "green";
                });
                buttons[i].addEventListener("mouseout", function(){
                    if (i == 1){buttons[1 - i].style.marginLeft = "100px";}
                    else{buttons[1 - i].style.marginRight = "100px";}
                    buttons[1 - i].style.opacity = 1;
                    buttons[i].style.width = "100px";
                    buttons[i].style.backgroundColor = "slategrey";
                });
                buttons[i].addEventListener("click", function(){
                    buttons[1 - i].style.display = "none";
                    buttons[i].classList.add("postfixed"); 
                    if (i == 0) {
                        var copy = msg.replaceAll("<br>", "\n");
                        copy = copy.replaceAll('<i style="font-size: 12px;">(1❤️ Wins)</i>', ' (1❤️ Wins)');
                        navigator.clipboard.writeText(copy)
                            .then(() => {
                                userWriter.stop().pauseFor(1).start().typeString("\nCopied to keyboard."); 
                                setTimeout(function(){
                                    userWriter.stop().pauseFor(1).start().deleteChars(20);
                                    buttons[0].classList.remove("postfixed");
                                    buttons[1].style.display = "block";
                                }, 3000)
                            })
                            .catch((error) => {
                                var errorString = "\nError copying to keyboard. Please check your browser permissions and try again.";
                            userWriter.stop().pauseFor(1).start().typeString(errorString); 
                            setTimeout(function(){
                                userWriter.stop().pauseFor(1).start().deleteChars(80);
                                buttons[0].classList.remove("postfixed");
                                buttons[1].style.display = "block";
                            }, 6500)
                            });
                    }
                    if (i == 1) {
                        userWriter.stop().pauseFor(1).start().deleteChars(100);
                        myChart.style.display = "none";
                        setTimeout(function(){
                            window.location.href = "/";
                            setTimeout(function() {
                                buttons[1].classList.remove("postfixed");
                                buttons[0].style.display = "block";
                            }, 100);
                        }, 3500);
                    }
                })
            }
        }, 7500);
    });
</script>
{% endblock %}