{% extends "layout.html" %}


{% block cryptogram %}

<div id="inputText" class="text stat"></div>
<div>
    <canvas id="myChart"></canvas>
</div>
<div id="stop"></div>
<div id="cover"></div>
<img id="url" src="">
{% endblock %}

{% block keyboard %}
<button type="button" class="postbutton" id="left">Share<br>Stats</button>
<button type="button" class="postbutton" id="right">Home</button>
<script>
    const ctx = document.getElementById('myChart');
    const data = {{ data | tojson }};
</script>
<script src="../static/stats.js"></script>
{% endblock %}