{% extends "layout.html" %}


{% block cryptogram %}

<div id="inputText" class="text stat"></div>
<div id="chartContainer">
    <canvas id="myChart"></canvas>
</div>
<div id="stop"></div>
<div id="cover"></div>
<img id="url" src="">
{% endblock %}

{% block keyboard %}
<div>
<button type="button" class="postbutton" id="left">Share<br>Stats</button>
<button type="button" class="postbutton" id="right">Home</button>
<div id="fader"></div>
</div>
<script>
    const ctx = document.getElementById('myChart');
    const data = {{ data | tojson }};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/7/Stats.js" integrity="sha512-+nNqDCQd6FiN/mQKnpfI/UswnfuG/cjHZbv+amV/2PLiuGgN8+D5dKzR4PqnSY5pZBExGavZz+FdjIeI9WgpKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/stats.js"></script>
{% endblock %}